* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  background-image: linear-gradient(0deg, #001c9c 0%, #234aff 45%, rgb(220, 213, 213) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}
body {
  margin: 0vw 2vw;
}

h1 {
  font-family: "Vina Sans", serif;
  font-size: 9rem;
  text-align: center;
  font-weight: normal;
}

.deskh1 {
  text-align: left;
  font-size: 15vw;
  font-weight: normal;
  line-height: 190px;
  margin-top: -20px;
  padding-bottom: 25px;
}

.mobilh1 {
  display: none;
}

.forsidebillede {
  position: relative;
  width: 900px;
  align-self: end;
  z-index: -1;
}

.grid_2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-top: 20px;
  overflow: hidden;
  align-items: end;
}

/* Menu og burgermenu */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  z-index: 9999;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
  text-align: start;
  font-family: "Inter";
  font-weight: bold;
  font-size: 1.5rem;
}

.menu a:hover {
  color: #234aff;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .grid_2-3 {
    display: grid;
    grid-template-rows: 90px 1fr;
    align-items: start;
    grid-template-columns: 1fr;
  }

  .mobilh1 {
    display: block;
    text-align: start;
    grid-column: 1/3;
    font-size: 3rem;
    font-weight: normal;
    padding-left: 12vw;
  }

  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #f2f3fff4;
    position: fixed;
    top: 54px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  .forsidebillede {
    position: relative;
    width: 900px;
    left: -250px;
    bottom: -10px;
  }

  nav.active .menu a {
    font-size: 24px;
    font-family: "Inter";
    color: #000000;
  }

  nav.active .menu a:hover {
    font-size: 24px;
    font-family: "Inter";
    color: #234aff;
  }

  h1 {
    font-family: "Vina Sans", serif;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
  }

  .deskh1 {
    display: none;
  }
}
